body {
    font-family: "Raleway", sans-serif;
    margin: 0;
    font-weight: 400;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
    margin: 0;
    padding: 0;
}

.content-section {
    box-sizing: border-box;
    width: 100%;
    max-width: 1440px;
    margin: auto;
}

.content-section_theme_wite {
    color: #000;
    background-color: #fff;
}

.content-section_theme_dark {
    color: #fff;
    background-color: #000;
}

.header {
    padding: 92px 49px 92px 51px;
}

.header-info {
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 110px;
    font-style: normal;
}

.header_menu {
    display: grid;
    grid-template-columns: 581px 370px 350px;
    grid-template-rows: 109px;
    column-gap: 20px;
    row-gap: 10px;
}
.header_menu-item_active {
    list-style: none;
}

.header_menu-list {
    display: grid;
    grid-template-columns: 106px 187px 144px;
    font-family: "Raleway", sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 23px;
    list-style: circle;
    gap: 4px;
    margin-top: 40px;
}

.header-dot {
    list-style: circle;
    stroke-width: 1px;
    stroke: #000;
}

.header_menu-link {
    list-style: circle;
    color: #000;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header-info_blok {
    color: #000;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px;
    word-wrap: break-word;
    color: #000;
}

.header-info_list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 5px;
}

.header-info-link {
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    color: #000;
}

.cover {
    width: 1440px;
    position: relative;
    z-index: 0;
    background-image: url(../images/lotus-flower\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    padding: 165px 50px 41px 50px;
}

.cover_title {
    color: #FFF;
    position: relative;
    z-index: 2;
    width: 100%;
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 72px;
    line-height: 1;
}

.cover__description {
    margin-left: 284px;
    font-family: "Raleway", sans-serif;
    position: relative;
    z-index: 2;
    color: #fff;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 51px;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 12px;
}


.overlay {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
}

.text {
    position: relative;
    z-index: 2;
    margin-top: 127px;
    display: grid;
    grid-template-columns: 1082px 280px;
    grid-template-rows: 59px;
}
.text-one {
    display: grid;
    grid-template-columns: 237px 280px 100px;
    color: #FFF;
    font-family: "Raleway", sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%; /* 115px */
    letter-spacing: 30px;
    text-transform: uppercase;
}

.text-center {
    display: grid;
    grid-template-columns: 214px 280px 100px;
    text-align: center;
    margin-left: 455px;
    margin-top: 17px;
    color: #FFF;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 100px */
    letter-spacing: 30px;
    text-transform: uppercase;
}

.text-right {
    display: grid;
    grid-template-columns: 214px 280px 100px;
    text-align: right;
    margin-left: 843px;
    margin-top: 4px;
    color: #FFF;
    text-align: right;
    font-family: "Raleway", sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 100px */
    letter-spacing: 60px;
    text-transform: uppercase;
}

.bet-button {
    flex-shrink: 0;
    color: #fff;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid #ffffff;
    margin-bottom: 11px;
    margin-right: 24px;
}

.text-botton {
    margin-top: 13px;
}

.accent-span {
    font-family: "Raleway", sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%;
    letter-spacing: 30px;
    text-transform: uppercase;
    display: block;
    text-transform: uppercase;
    gap: 12px;
    letter-spacing: 30px;
}


.intro {
    padding: 180px 50px 0 50px;
    color: #fff;
}

.accent-span-card {
    margin-left: 40px;
    color: #000;
    font-family: "Raleway", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.card-list {
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-start;
    margin-top: 25px;
    margin-right: 10px;
}

.card-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 430px;
    min-height: 450px;
    background-size: 454px;
    margin-right: 25px;
}

.card-content-one {
    background-image: url(../images/card-lot-01.jpg);
}

.card-content-two {
    background-image: url(../images/card-lot-02.jpg);
}

.card-content-three {
    background-image: url(..//images/card-lot-03.jpg);
}

.card_title {
    position: relative;
    z-index: 2;
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-decoration-line: underline;
    text-transform: uppercase;
}

.card_title-one {
    padding: 50px 40px 30px 29px;
}

.card_title-two {
    padding: 50px 40px 30px 40px;
}

.card_title-three {
    padding: 50px 40px 30px 40px;
}

.card_text {
    position: relative;
    z-index: 2;
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.card_text-one {
    margin-bottom: 47px;
    padding: 173px 40px 4px 40px;
}

.card_text-two {
    padding: 5px 40px 45px 40px;
}

.card_text-three {
    padding: 52px 40px 50px 40px;
}

.lots__look-more-link {
    margin-left: 40px;
    color: #000;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.about {
    padding: 181px 50px 0 50px;
}

.about__logo {
    display: flex;
    padding: 0px 95px;
    justify-content: flex-start;
    flex-shrink: 0;
}

.about__logo2 {
    position: relative;
    z-index: 1;
    background-color: #000;
    border: none;
    border-radius: 400px;
    width: 240px;
    margin-bottom: 250px;
    flex-shrink: 0;
}

.about__logo-img {
    margin-left: 44px;
    margin-top: 62px;
}

.about__title {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    color: #000;
    font-family: "Raleway", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.about__text {
    list-style: none;
    margin-left: 31px;
    margin-top: 98px;
    width: 876px;
    flex-shrink: 0;
    margin-left: 118px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
    flex-shrink: 0;
}

.about__text1 {
    list-style: none;
    color: #000;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.about__text2 {
    color: #000;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 24px;
}

.footer {
    display: flex;
    flex-direction: row;
    gap: 239px;
    padding: 0 50px 90px 50px;
}

.footer-info {
    color: #000;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px;
    list-style: none;
    margin-top: 180px;
}

.footer-info-link {
    color: #000;
}

.footer_menu-list {
    margin-left: 58px;
    margin-top: 180px;
    color: #000;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    list-style: none;
    white-space: nowrap;
}

.footer_menu-list-active {
    list-style: none;
}

.footer__social-list {
    width: 45px;
    display: flex;
    flex-shrink: 0;
}

.footer__social-icon{
    margin-top: 180px;
    margin-left: 122px;
    display: flex;
    flex-direction: row;
    list-style: none;
}

.footer-yt {
    color: #000;
    margin-right: 50px;
}

.footer-vk {
    color: #000;
    margin-right: 50px;
}

.footer-pinterest {
    color: #000;
}

.footer_menu-list-blak {
    color: #000;
}
